/* common css style start */
*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* common css style end */

/* header section style start */
#headerTop{
    background: #20282D;
  
}
.headerTopLeft a{
    display: inline-block;
    margin-left: 20px;
    color:#fff;
    line-height: 48px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.headerTopLeft i{
    margin-right: 7px;
    padding-left: 15px;
}
/* header section style end */